.Pokecard {
    border: 1px Solid white;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: 200px;
    background-color: white;
    box-shadow: 3px 4px 15px 0px #eb1c1cc2;
    text-align: center;
    box-sizing: border-box;
}
.Pokedex {
    width: 960px;
    margin: 0 auto;
    text-align: center;
}
.Pokedex-card {
    display: flex;
    justify-content: center;
    justify-self: center;
    flex-wrap: wrap;
}

.Pokecard-title {
    font-size: 120%;
}

.Pokecard-image {
    display: inline-block;
    width: 100%;
}

.Pokedex-title {
    font-size: 45px;
    color: rgb(228, 22, 211);
    font-weight: bolder;
}

.Pokedex-exp {
    margin: 5px auto;
    font-size: 20px;
    color: rgb(156, 11, 120);
    background-color: rgb(41, 113, 228);
    width: fit-content;
    padding: 5px 20px;
    border-radius: 40px;
    font-weight: bolder;
}

.Pokedex-satuts-win {
    margin: 0 auto;
    font-size: 26px;
    color: rgb(0, 236, 12);
    background-color: rgb(102, 19, 141);
    width: fit-content;
    padding: 5px 20px;
    border-radius: 40px;
    font-weight: bolder;
}

.Pokedex-satuts-lose {
    margin: 0 auto;
    font-size: 26px;
    color: rgb(228, 47, 15);
    background-color: rgb(102, 19, 141);
    width: fit-content;
    padding: 5px 20px;
    border-radius: 40px;
    font-weight: bolder;
}