.Pokecard {
    border: 1px Solid white;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: 200px;
    background-color: white;
    box-shadow: 3px 4px 15px 0px #eb1c1cc2;
    text-align: center;
    box-sizing: border-box;
}
.Pokedex {
    width: 960px;
    margin: 0 auto;
    text-align: center;
}
.Pokedex-card {
    display: flex;
    justify-content: center;
    justify-self: center;
    flex-wrap: wrap;
}

.Pokecard-title {
    font-size: 120%;
}

.Pokecard-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-image: repeating-linear-gradient(
        45deg,
        #33b9eec0,
        #33b9eec0 8px,
        #1f65e7c0 8px,
        #1f65e7c0 15px
    );
    border-radius: ;
}

.Pokecard-image img {
    transform: scale(0.8);
    transition: transform ease-in 0.3s;
}

.Pokecard-image:hover > img {
    transform: scale(1.5);
    transition: transform ease-out 0.3s;
}

.Pokedex-title {
    font-size: 45px;
    color: rgb(228, 22, 211);
    font-weight: bolder;
}

.Pokedex-exp {
    margin: 5px auto;
    font-size: 18px;
    color: rgb(156, 11, 120);
    background-color: rgba(53, 123, 235, 0.644);
    width: fit-content;
    padding: 5px 20px;
    border-radius: 40px;
    font-weight: bolder;
}

.Pokedex-satuts-win {
    margin: 0 auto;
    font-size: 26px;
    color: rgb(0, 236, 12);
    background-color: rgba(102, 19, 141, 0.616);
    width: fit-content;
    padding: 5px 20px;
    border-radius: 40px;
    font-weight: bolder;
}

.Pokedex-satuts-lose {
    margin: 0 auto;
    font-size: 26px;
    color: rgb(236, 29, 57);
    background-color: rgba(102, 19, 141, 0.602);
    width: fit-content;
    padding: 5px 20px;
    border-radius: 40px;
    font-weight: bolder;
}