.Pokecard {
    border: 1px Solid white;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: 200px;
    background-color: white;
    box-shadow: 3px 4px 15px 0px #eb1c1cc2;
    text-align: center;
    box-sizing: border-box;
}
.Pokedex {
    width: 960px;
    margin: 0 auto;
    text-align: center;
}
.Pokedex-card {
    display: flex;
    justify-content: center;
    justify-self: center;
    flex-wrap: wrap;
}

.Pokecard-title {
    font-size: 120%;
}

.Pokecard-image {
    display: inline-block;
    width: 100%;
}

.Pokedex-title {
    font-size: 45px;
    color: rgb(228, 22, 211);
    font-weight: bolder;
}